</article><!-- Do not remove this closing article element -->

<!-- Content placed here will appear directly before the closing </body> tag -->
<footer>
    <br>
    <hr>
    <p><small>Powered by <a href="https://pblog.xyz">pblog</a><br>
    Made with &hearts; for a simpler web.<br>
    Peanut butter sandwich illustration by Kate Maldjian from NounProject.com</small></p>
</footer>
