<!-- Content placed here will appear directly after the opening <body> tag -->
<nav>
    <a href="/">Home</a><span>&nbsp;/&nbsp;</span>
    <a href="/blog">Blog</a><span>&nbsp;/&nbsp;</span>
    <a href="/tweaks.html">Tweaks</a><span>&nbsp;/&nbsp;</span>
    <a href="https://codeberg.org/tdarb/pblog">Download</a>
</nav>
<!-- Do not remove this opening article element -->
<article>
